<nav class="pagination-size">
	<ul class="pagination">
		<li ng-class="{'disabled': currentPage === 1}">
			<a href="#">首页</a>
		</li>
		<li ng-class="{'disabled': currentPage === 1}">
			<a href="javascript:void(0);">
				上一页
			</a>
		</li>
		<li ng-class="{'active': page === currentPage}" ng-repeat="page in pages">
			<a href="javascript:void(0);">
				{{page}}<span class="sr-only">(current)</span>
			</a>
		</li>
		<li ng-class="{'disabled': currentPage === total}">
			<a href="javascript:void(0);">
				下一页
			</a>
		</li>
		<li ng-class="{'disabled': currentPage === total}">
			<a href="javascript:void(0);">
				尾页
			</a>
		</li>
	</ul>
	<div class="page_size_options clearfix">
		<span class="fl lh30">每页记录：</span>
		<div class="select fl">
			<div class="select-inner">
				<input type="text" class="select-text" readonly ng-model="numPerPage"/>
				<span class="select-icon"><i class="select-icon-arrow"></i></span>
			</div>
			<div class="select-sub">
				<a>111</a>
				<a>222</a>
			</div>
		</div>
	</div>
	<div class="page_total">
		总记录数：148，总页数：8，当前为第1页
	</div>
</nav>
