<div ng-controller="nodeCtrl">    
    <span ng-show="hasChilren(data)" ng-click="data.isClose = !data.isClose">
        <span ng-show="!data.isClose" style="font-size: 20px;">+</span>
        <span ng-show="data.isClose" style="font-size: 20px;">-</span>
    </span>
    <span>        
        <input-m change="change(data,data.selected)" model="data.selected">   
    </span>    
    {{data.name}}
    <div ng-repeat="data1 in data.org" ng-init="father = data">        
        <include tpl="father.isClose ? tpl : ''" ng-init="data = data1"></include>        
    </div>
    <div ng-repeat="data1 in data.proj" ng-init="father = data">        
        <include tpl="father.isClose ? tpl : ''" ng-init="data = data1"></include>        
    </div>
</div>