<div class="welcome_top">
    <div class="container">
        <div class="row">
            <div class="top_left clearfix">
                <i class="iconfont icon-user fl"></i>
                <span class="welcome_user fl">Hi<span class="user_name">菲菲</span>欢迎您</span>
                <span class="fl">|</span>
                <a class="login_out fl">注销</a>
            </div>
            <div class="top_right">
                深圳市卫生和计划生育委员会  区域医疗电子认证监管服务平台
            </div>
        </div>
    </div>
</div>
<div class="banner">
    <div class="container">
        <div class="row">
            <img src="/resource/img/banner.jpg" alt="" />
        </div>
    </div>
</div>
<div id="nav">
    <div class="container">
        <div class="row">
            <ul class="nav nav-pills nav-justified nav_bg">
                <li>
                    <a href=""><span class="first-menu">首页</span></a>
                </li>
                <li ce-menu>
                    <a href=""><span class="first-menu">卫生机构</span></a>
                    <div ng-show="menuShow" class="child-menu">
                        <ul>
                            <li>
                                <a>区域统计</a>
                            </li>
                            <li>
                                <a>医疗机构</a>
                            </li>
                            <li>
                                <a>区域统计</a>
                            </li>
                            <li>
                                <a>区域统计</a>
                            </li>
                            <li>
                                <a>医疗机构</a>
                            </li>
                            <li>
                                <a>区域统计</a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li><a href=""><span class="first-menu">认购机构</span></a></li>
                <li><a href=""><span class="first-menu">基础数据</span></a></li>
                <li><a href=""><span class="first-menu">服务申请</span></a></li>
                <li><a href=""><span class="first-menu">证书管理</span></a></li>
                <li><a href=""><span class="first-menu">权限管理</span></a></li>
            </ul>
        </div>
    </div>
</div>
<section>
    <div class="container">
        <div class="row">
            <div class="bread-crumb">
                <i class="iconfont icon-location fl"></i>
                <a>首页</a>
                <span> > </span>
                <a>卫生机构</a>
            </div>
        </div>
    </div>
</section>

<div class="main_content">
    <div class="container">
        <div class="row">
            <from class="f14">
                <table>
                    <tr>
                        <td>
                            查询条件：
                        </td>
                        <td width="260">
                            <span class="fl lh32">医疗机构</span>
                            <input type="text" class=" input-text fl ml10" placeholder="Text input">
                        </td>
                        <td width="260">
                            <span class="fl lh32">医院性质</span>
                            <div class="select ml10 fl" ng-model="c1" text-field="name" value-field="value" data="data1" ce-combobox />
                        </td>
                        <td>
                            <span class="fl lh32">地区</span>
							<div class="select ml10 fl" ng-model="c2" text-field="name" data="data2" ce-combobox />
                        </td>
                    </tr>
                </table>
            </from>
			c1:{{c1}}
			c2:{{c2}}
            <div class="sheet mt20">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>序号</th>
                        <th>医院名称</th>
                        <th>地区</th>
                        <th>性质</th>
                        <th>地址</th>
                        <th>现有证书数量</th>
                        <th>首次发证时间</th>
                        <th>认证机构</th>
                        <th>查看</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>1</td>
                        <td>医学信息中心</td>
                        <td>深圳市</td>
                        <td>公立</td>
                        <td>深圳市罗湖区东门北路1017号大院</td>
                        <td>4553</td>
                        <td>2011-07-01</td>
                        <td>北京CA</td>
                        <td>
                            <button type="button" class="btn btn-info btn-block">查看</button>
                        </td>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>医学信息中心</td>
                        <td>深圳市</td>
                        <td>公立</td>
                        <td>深圳市罗湖区东门北路1017号大院</td>
                        <td>4553</td>
                        <td>2011-07-01</td>
                        <td>北京CA</td>
                        <td>
                            <button type="button" class="btn btn-info btn-block">查看</button>
                        </td>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>医学信息中心</td>
                        <td>深圳市</td>
                        <td>公立</td>
                        <td>深圳市罗湖区东门北路1017号大院</td>
                        <td>4553</td>
                        <td>2011-07-01</td>
                        <td>北京CA</td>
                        <td>
                            <button type="button" class="btn btn-info btn-block">查看</button>
                        </td>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>医学信息中心</td>
                        <td>深圳市</td>
                        <td>公立</td>
                        <td>深圳市罗湖区东门北路1017号大院</td>
                        <td>4553</td>
                        <td>2011-07-01</td>
                        <td>北京CA</td>
                        <td>
                            <button type="button" class="btn btn-info btn-block">查看</button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
			<div ce-pagination
				 current-page="pagination.currentPage"
				 total="pagination.total"
				 num-per-page="pagination.numPerPage"
			/>
        </div>
    </div>
</div>
<div class="footer">
    <p>版权所有 深圳市医学信息中心 All Rights Reserved </p>
    <p>主办：深圳市医学信息中心 技术支持单位：深圳市圣格灵科技有限公司 </p>
    <p>网站维护电话：23972336，18126548224 在线支持：2532081191 </p>
</div>
